.grid {
  padding: 20px;
}

.grid__row {
  display: flex;
  &:nth-child(odd) {
    background: #eee;
  }
}

.grid--hex {
  .tile {
    align-self: flex-start;
    transform: translateY(-25%);
    &:nth-child(odd) {
      align-self: flex-end;
      transform: translateY(25%);
    }
  }
}