.grid {
  padding: 20px;
}

.grid__row {
  display: flex;
  &:nth-child(odd) {
    background: #eee;
  }
}

.grid--hex {
  .tile {
    transform: translateY(50%);
    &:nth-child(odd) {
      transform: translateY(0);
    }
  }
}