@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "variables";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 62.5%; // For REM sizing, base 10
    font-family: 'Ubuntu',sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}